@font-face {
    font-family: 'Kollektif';
    src: url('./fonts/Kollektif.ttf');
}

@font-face {
    font-family: 'Kollektif-Bold';
    src: url('./fonts/Kollektif-Bold.ttf');
}

@import url('https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css');